html{
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(ellipse farthest-corner at 180% 500%, rgb(97, 6, 74) 0%, rgb(97, 6, 74) 80%,
  rgb(117, 30, 96) 80%);
}

.container-fluid {
  min-height: calc(100vh - 5em);
}

.titulo {
  padding-top: 2em;
  font-size: 4em;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.fondo-titulo {
  color: rgb(212, 212, 212);
  text-shadow: 4px 4px 0 rgb(97, 6, 74);
}

nav {
  background: rgb(97, 6, 74);
}

.introduccion {
  min-height: 24em;
  background-image: linear-gradient(to bottom right, rgba(31, 1, 22, 0.85), rgba(0, 0, 0, 0.1)),
    url('img/imagen-laptop-grande.jpg');
  background-size: cover;
}

.primer-linea {
  padding-top: 2em;
}

.segunda-linea {
  padding-bottom: 3.5em;
}

.texto-intro {
  font-size: 1.2em;
  color: rgb(212, 212, 212);
}

.titulo-form {
  font-size: 1.3em;
  color: rgb(212, 212, 212);
  text-shadow: 4px 4px 0 #190727;
}

footer {
  background: rgb(97, 6, 74);
  color: rgb(158, 158, 158);
  min-height: 5em;
}

footer:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(27, 5, 22, 0.8), rgba(63, 0, 39, 0.8)),
  url(./img/cubes.gif);
  background: cover;
  color: white;
}

.form-control::placeholder {
  color: rgb(175, 169, 177);
  font-style: italic;
}

.form-control:-ms-input-placeholder {
  color: rgb(180, 180, 180);
  font-style: italic;
}

.form-control {
  background: rgb(127, 107, 128);
  color: white;
  font-weight: 600;
}

label {
  color: rgb(212, 212, 212);
  text-shadow: 2px 2px 0 #2e2e2e;
}

.gracias {
  margin-top: 2em;
  font-size: 4em;
  text-align: center;
  color: rgb(212, 212, 212);
}

.padding-gracias {
  padding-top: 1.5em;
}

.formYTexto {  
  /* background: rgb(97, 6, 74); */
  padding-top: 6em;
}

.btn-primary {
  background: rgb(72, 7, 78) !important;
  border: rgb(35, 0, 36);
}

.btn-primary:hover, .btn-primary:visited, .btn-primary:active {
  background: rgb(98, 15, 102) !important;
  border: rgb(35, 0, 36);
}

.btn-primary:focus {
  background: rgb(77, 10, 80) !important;
  border-color: rgb(35, 0, 36);
  box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.form-correo {
  background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0));
  border-radius: 10px;
  margin-bottom: 4em;
  margin-top: 2em;
  -webkit-box-shadow: 6px 7px 5px -1px rgba(36, 0, 17, 0.74);
  -moz-box-shadow: 6px 7px 5px -1px rgba(36, 0, 17, 0.74);
  box-shadow: 6px 7px 5px -1px rgba(36, 0, 17, 0.74);
}

/*animations*/
.sobre {
  animation: sway1 5s infinite;
  transform-origin: 50% 100% 0;
}
@keyframes sway1 {
  0%, 100%{ transform: rotate(-10deg);}
  50%{ transform: rotate(8deg); }
}

@keyframes slidingstep1 {
  0% {
      bottom: -50px;
      opacity: 0;
  }

  5% {
      bottom: -35px;
      opacity: 0.2;
  }

  100% {
      bottom: 0px;
      opacity: 1;
  }
}

@keyframes slidingstepleft {
  0% {
      left: -150px;
      opacity: 0;
  }

  5% {
      left: -130px;
      opacity: 0.2;
  }

  100% {
      left: 0px;
      opacity: 1;
  }
}

@keyframes slidingstepright {
  0% {
      right: -150px;
      opacity: 0;
  }

  5% {
      right: -130px;
      opacity: 0.2;
  }

  100% {
      right: 0px;
      opacity: 1;
  }
}

.slide-animate {
  animation-name: slidingstep1;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.slide-animate-left {
  animation-name: slidingstepleft;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.slide-animate-right {
  animation-name: slidingstepright;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.primer-linea, .segunda-linea, .sobre-animacion, .form-correo {
  opacity: 0;
  transition: all 300ms ease-in;
}

.primer-linea {
  animation-delay: 0.2s;
}

.segunda-linea {
  animation-delay: 0.5s;
}

@media (max-width: 1200px) {
  .introduccion {
    min-height: 24em;
    background-image: linear-gradient(to bottom right, rgba(31, 1, 22, 0.85), rgba(0, 0, 0, 0.1)),
      url('img/imagen-laptop-mediana.jpg');
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .titulo {
    padding-top: 1.5em;
    font-size: 3.5em;
  }

  .texto-intro {
    font-size: 1.1em;
  }

  .gracias {
    font-size: 3em;
    color: rgb(212, 212, 212);
  }

}

@media (max-width: 500px) {
  .introduccion {
    min-height: 24em;
  }
  
  .titulo {
    padding-top: 2em;
    font-size: 2.5em;
  }

  .texto-intro {
    font-size: 1em;
  }

  .gracias {
    padding-top: 4em;
    font-size: 2em;
    color: rgb(212, 212, 212);
  }

  .introduccion {
    min-height: 24em;
    background-image: linear-gradient(to bottom right, rgba(31, 1, 22, 0.85), rgba(0, 0, 0, 0.1)),
      url('img/imagen-laptop.jpg');
    background-size: cover;
  }
  
}